{% extends "base.html" %}
{% block title %}Library Loan System - Admin Page{% endblock %}

{% block content %}
<form>
  First name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Repeat First name:<br>
  <input type="text" name="lastname" value="">
    <br>
    Password:<br>
  <input type="password" name="lastname" value="">
    <br>
    Repeat Password:<br>
    <input type="password" name="lastname" value="">
  <br>
  <a href="loginPage">Already have an account? Click here to login one now!</a>
  <br>
    <a href="/">Create Account</a>
</form>
{% endblock %}