{% extends "base.html" %}
{% block title %}Library Loan System - Admin Page{% endblock %}

{% block content %}
<form>
  First name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Repeat First name:<br>
  <input type="text" name="lastname" value="">
    <br>
    Password:<br>
  <input type="password" name="lastname" value="">
    <br>
    Repeat Password:<br>
    <input type="password" name="lastname" value="">

  <br><br>
    <a href="/">Submit</a>
</form>
{% endblock %}